<div class="information_popup_container" >
	<div class="information">
		<% img_path = "images/caminos/#{camino}/#{paso.first}.png" %>
		<img src='<%= img_path %>' alt=<%= paso.first %>, id='icon' />
	</div>
	<div class="popup_information">
		<center>
			<header>
				<h3><%= paso.first %></h3>
			</header>
			<img src='<%= img_path %>' alt='<%= paso.first %>', id='icon3' />
			<br/>
			<p><%= paso.last %></p>		
		</center>
	</div>
</div>
