<div class="information_popup_container" >
	<div class="information">
		<img src='<%= skill.img_path %>' alt='<%= skill.name %>', id='icon' />
	</div>
	<div class="popup_information">
		<center>
			<header>
				<h3><%= skill.name %></h3>
			</header>
			<img src='<%= skill.img_path %>' alt='<%= skill.name %>', id='icon3' />
			<br/>
			Habilidad Base<br/>
			<i>(Habilidad de inicio del personaje)</i><br/>
			<br/>
			<p><%= skill.description %></p>		
		</center>
	</div>
</div>
