<div class="information_popup_container" >
	<div class="information">
		<img src=<%= spell.img_path %> alt=<%= spell.name %>, id='icon' />
	</div>
	<div class="popup_information">
		<center>
			<h2 style="padding: 5px 5px 5px 5px; color:white;"><%= spell.name %></h2>
			<p>
				<% if spell.elemento == 'plegaria' %>
					<%= spell.elemento %> de <%= spell.tipo %>
				<% else %>
					<%= spell.tipo %> de <%= spell.elemento %>
				<% end %>  de nivel <%= spell.nivel %><br/>
			</p>
			<img src=<%= spell.img_path %> alt=<%= spell.name %>, id='icon3' />	<br/>
			<p><%= spell.efecto %></p>
			<table>
				<tr>
					<th>Alcance</th>
					<th><%= spell.alcance %></th>
				</tr>
				<tr>
					<th>Duración</th>
					<th><%= spell.duracion %></th>
				</tr>
				<tr>
					<th>Potencia</th>
					<th><%= spell.potencia %></th>
				</tr>
				<tr>
					<th>Maestría</th>
					<th><%= spell.maestría %></th>
				</tr>
			</table><br/>
		</center>
		<ul>
			<% if %w(plegaria execración).include? spell.elemento %>
				<li>Chakra : <%= spell.chakra %></li>
				<li>Summun : <%= spell.summun %></li>
			<% end %>
			<% if spell.diablura %>
				<li>Diablura : <%= spell.diablura %></li>
			<% end %>
			<% if spell.ardid %>
				<li>Ardid : <%= spell.ardid %></li>
			<% end %>
		</ul>
	</div>
</div>
