<div class="information_popup_container" >
	<div class="information">
		<img src=<%= spell.img_path %> alt=<%= spell.name %>, id='icon' />
	</div>
	<div class="popup_information">
		<center>
			<h2 style="padding: 5px 5px 5px 5px; color:white;"><%= spell.name %></h2>
			<p><%= spell.elemento %> de <%= spell.tipo %> de nivel <%= spell.nivel %><br/></p>
			<img src=<%= spell.img_path %> alt=<%= spell.name %>, id='icon3' />	<br/>
			<p><%= spell.efecto %></p>
			<table>
				<tr>
					<th>Alcance</th>
					<th><%= spell.alcance %></th>
				</tr>
				<tr>
					<th>Duración</th>
					<th><%= spell.duracion %></th>
				</tr>
				<tr>
					<th>Potencia</th>
					<th><%= spell.potencia %></th>
				</tr>
			</table><br/>
		</center>
		<% if spell.class == Plegaria %>
			<ul><li>Chakra : <%= spell.chakra %>
				<li>Summun : <%= spell.summun %>
			</ul>
		<% end %>
	</div>
</div>
