<% calibre = gema_calidades[params[:param].to_i - 1] %>
<header><h2><%= calibre['name'] %></h2></header>
<table>
	<thead>
		<tr>
			<th>ID</th>
			<th>Icono</th>
			<th>Disponibles</th>
			<th>Nombre</th>
		</tr>
	</thead>
	<tbody>
		<% gemas.each do |g| %>
			<% if g.calidad == calibre %>
				<tr><td><%= g.id %></td>
					<td><%= erb :'display/gema', locals: { gema: g } %></td>
					<td><%= erb :'display/bazar', locals: {
						bazar:   g.disponibles,
						item_id: g.id, 
						engarce: 'gemas' } %>
					</td>
					<td><%= g.name %></td>
				</tr>
			<% end %>
		<% end %>
	</tbody>
</table>