<table>
	<thead>
		<th colspan=2>Pericia</th>
		<th>Descripción</th>
		<th>Coste</th>
	</thead>
	<tbody>
		<% maestrodearmas.each do |m| %>
			<tr>
				<td><% img_path = "'../images/skills/maestrodearmas/#{m['name']}.png'" %>
					<img src=<%=img_path%> alt=<%=m['name']%>, id='icon' />
				</td>
				<td><%= m['name'] %></td>
				<td><%= m['description'] %></td>
				<td><%= m['coste'] %></td>
			</tr>
		<% end %>
	</tbody>
</table>