<% grados.each do |grado| %>
	<h3>Recetas de <%= grado.capitalize %></h3>
	<table>
		<thead>
			<tr>
				<th>#</th>
				<th>Nombre</th>
				<th>Coste</th>
				<th>Efecto</th>
			</tr>	
		</thead>
		<tbody>
			<% profesion = profesions.find { |p| p.name == params[:param] } %>
			<% profesion.send(grado.to_sym).each_with_index do |tecnica, i| %>
				<tr><td><%= i %></td>
					<td><%= tecnica['name']   %></td>
					<td><%= tecnica['coste']  %></td>
					<td><%= tecnica['efecto'] %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
	<br/>
<% end %>