<% profesion = profesions.find { |p| p[:name] == params[:param] } %>
<div class="row">
	<% grados.each do |grado| %>
		<div class="4u">
			<section>
				<header>
					<h2><%= grado.capitalize %></h2>
				</header>
				<table id='tresp'>
					<thead>
						<tr>
							<th>ID</th>
							<th>Nombre</th>
							<th>Coste</th>
							<th>Efecto</th>
						</tr>	
					</thead>
					<tbody>
						<% profesion[grado.to_sym].each do |tecnica| %>
							<tr><td><%= tecnica[:id]     %></td>
								<td><%= tecnica[:name]   %></td>
								<td><%= tecnica[:coste]  %></td>
								<td><%= tecnica[:efecto] %></td>
							</tr>
						<% end %>
					</tbody>
				</table>
			</section>
		</div>
	<% end %>	
</div>