<header>
	<h2>Personaje: <%= params[:param] %></h2>
</header>

<h3>Habilidades iniciales</h3>
<table>
	<thead>
		<tr>
			<th colspan='2'>Habilidad</th>
			<th>Descripción</th>
		</tr>
	</thead>
	<tbody>
		<% habilidad_base(params[:param]).each do |hab| %>
			<tr><td><%= erb :'display/skillbase', locals: { skill: hab} %></td>
				<td><%= hab.name %></td>
				<td><%= hab.description %></td>
			</tr>			
		<% end %>
	</tbody>
</table>

<h3>Especializaciones</h3>
<%= erb :'personaje/clases/special_table' %>