<!DOCTYPE HTML>
<html>
	<head>
		<% title ||= route.capitalize %>
		<% title = params[:param].capitalize if title == 'view' %>
		<% title = hero(params[:param].to_i).name if params[:view] == 'historia' %>
		<%= erb :head, :locals => {:title => "HeroSheet: #{title}"} %>
	</head>
	<body class="subpage">
		<div id="header-wrapper">
			<%= erb :header, :locals => { :title => title } %>
		</div>
			<div id="content-wrapper">
				<div id="content">
					<div class="container">
						<div class="row">
							<% if template[:left] %>
								<div class="3u">
									<%= load_partial(template[:left]) %>
									<% if template[:left2] %>
										<%= load_partial(template[:left2]) %>
									<% end %>
								</div>
							<% end %>
							<div class='<%= get_center(template) %>'>
								<%= load_partial(template[:main]) %>
							</div>							
							<% if template[:right] %>
								<div class="3u">
									<%= load_partial(template[:right]) %>
									<% if template[:right2] %>
										<%= load_partial(template[:right2]) %>
									<% end %>
								</div>
							<% end %>
						</div>
					</div>
				</div>
			</div>
		<%= erb :'footer/footer' %>	
	</body>
</html>