<!DOCTYPE HTML>
<html>
	<head>
		<% title ||= params[:view].capitalize %>
		<% title = params[:param].capitalize if title == 'view' %>
		<% if (params[:view] == 'historia' || params[:view] == 'hero') %>
			<% title = hero(params[:param].to_i).name %>
		<% end %>
		<% if params[:view] == 'runa' %>
			<% title = runa(params['param'].to_i).name.upcase %>
		<% end %>
		<% title.gsub!('Beastslord','Señor de las Bestias')%>
		<%= erb :head, :locals => {:title => "HeroSheet: #{title}"} %>
	</head>
	<body class="subpage">
		<div id="header-wrapper">
			<%= erb :header, :locals => { :title => title } %>
		</div>
			<div id="content-wrapper">
				<div id="content">
					<div class="container">
						<div class="row">
							<% if template['left'] %>
								<div class="3u">
									<section><%= load_partial(template['left']) %></section>
									<% if template['left2'] %>
										<section><%= load_partial(template['left2']) %></section>
									<% end %>
								</div>
							<% end %>
							<div class='<%= get_center(template) %>'>
								<section><%= load_partial(template['main']) %></section>
							</div>							
							<% if template['right'] %>
								<div class="3u">
									<section><%= load_partial(template['right']) %></section>
									<% if template['right2'] %>
										<section><%= load_partial(template['right2']) %></section>
									<% end %>
								</div>
							<% end %>
						</div>
						<% if template['row2'] %>
							<%= load_partial(template['row2']) %>
						<% end %>
					</div>
				</div>
			</div>
		<%= erb :'footer/footer' %>	
	</body>
</html>