<header>
	<h2><%= params[:param].capitalize %></h2>
</header>
<h3>Descripción</h3>
<%= erb :"reglamento/bestiario/#{params[:param]}" %>
<h3>Estadísticas</h3>
<table>
	<thead>
		<tr>
			<th>Icono</th>
			<% send(params[:param]).first.keys.each do |att| %>
				<% unless att == 'id' %>
					<th>
						<%= att.capitalize %>
					</th>
				<% end %>
			<% end %>
		</tr>	
	</thead>
	<tbody>
		<% send(params[:param]).each do |c| %>
			<tr>
				<td>
					<% img_path = "'../images/criaturas/#{params[:param]}/#{c['nombre']}.png'" %>
					<img src=<%=img_path%> alt='icono', id='icon2' />
				</td>
				<% c.keys.each do |att| %>
					<% unless att == 'id' %>
						<% if att == 'hechizos'%>
							<td>
								<% c[att].each do |h| %>
									<%= erb :'display/spell', locals: {spell: spell(h) } %>
								<% end %>
							</td>
						<% else %>
							<td><%= c[att] %></td>
						<% end %>
					<% end %>
				<% end %>
			</tr>
		<% end %>
	</tbody>
</table>