<div class="row">
	<% criaturas[0..3].each do |criatura| %>
		<div class="3u">
			<section>
				<header>
					<h2 align='center'><%= criatura %></h2>
				</header>	
				<a href=/criatura/<%= criatura %> class='city-image' >
					<% img_path = "'../images/criaturas/#{criatura}.png'" %>
					<img src=<%=img_path%> alt=<%= criatura %> />
				</a>
			</section>
		</div>
	<% end %>
</div>
<div class="row">
	<% criaturas[4..8].each do |criatura| %>
		<div class="3u">
			<section>
				<header>
					<h2 align='center'><%= criatura %></h2>
				</header>					
				<a href=/criatura/<%= criatura %> class='city-image' >
					<% img_path = "'../images/criaturas/#{criatura}.png'" %>
					<img src=<%=img_path%> alt=<%= criatura %> />
				</a>
			</section>
		</div>
	<% end %>
</div>