<header>
	<h2>Tirada de dados de combate</h2>
</header>
<table>
	<thead>
		<tr>
			<th>Tirada</th>
			<th colspan=2>Resultado</th>
			<th>Calaveras</th>
			<th>Defensas</th>
			<th>Negros</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><%= params[:param] %> dados de combate</td>
			<td>
				<% calaveras = 0 ; defensas = 0; negros = 0 %>
				<% caras = ['attack','attack','attack','defend','defend','black']%>

				<% params[:param].to_i.times do %>
					<% resultado = caras[rand(6)] %>
						<% calaveras += 1 if resultado == 'attack' %>
						<% defensas  += 1 if resultado == 'defend' %>
						<% negros    += 1 if resultado == 'black' %>
					<% img_path  = "../images/dado/#{resultado}.png"%>
					<img src=<%=img_path%> alt=<%= resultado %>, id='icon' />
				<% end %>
			</td>
			<td width="10%"><a href="/dado/<%= params[:param] %>">
				<img style="vertical-align:middle" src="/images/refresh.png" alt="reload", id='icon'/></a>
			</td>
			<td><%= calaveras %></td>
			<td><%= defensas  %></td>
			<td><%= negros    %></td>
		</tr>
	</tbody>
</table>