<% dado1 = dado_tesoro; dado2 = dado_tesoro; sigmar = dado_sigmar %>
<% #dado1 = 6; dado2 = 4; #sigmar = 'eagle' %>
<% total = (dado1 + dado2)%>
<% resultado = tesoro(sigmar, dado1, dado2)%>

<table>
	<thead>
		<tr><th colspan=2>Tirada</th>
			<th colspan=2>Interpretación</th>
		</tr>
	</thead>
	<tbody>
		<tr><td width="10%"><a href="/tesoro">
				<img style="vertical-align:middle" src="/images/refresh.png" alt="reload", id='icon2'/></a>
			</td>
			<td width="15%"><h1><%= total.to_s %><% img_path  = "../images/tesoro/#{sigmar}.png"%>
				<img style="vertical-align:middle" src=<%=img_path%> alt=<%= sigmar %>, id='icon2' /></h1>
			<td><%= resultado %></td>
			<td><%= erb :"reglamento/tesoro/#{total}", locals: { 
					dado1:     dado1 , 
					dado2:     dado2, 
					sigmar:    sigmar, 
					resultado: resultado 
				} %>
			</td>
		</tr>
	</tbody>
</table>