<% dado1 = dado_tesoro; dado2 = dado_tesoro; sigmar = dado_sigmar %>
<%# dado1 = 4;# dado2 = 4; #sigmar = 'eagle' %>
<% total = (dado1 + dado2)%>
<% resultado = tesoro(sigmar, dado1, dado2)%>
<section>
	<link rel="stylesheet" href="css/bravo.css" />
	<table id='tresp'>
		<thead>
			<tr><th colspan=2>Tirada</th>
				<th colspan=2>Interpretación</th>
			</tr>
		</thead>
		<tbody>
			<tr><td width="10%"><a href="/tesoro">
					<img style="vertical-align:middle" src="/images/refresh.png" alt="reload", id='icon2'/></a>
				</td>
				<td width="15%"><h1><%= total.to_s %><% img_path  = "../images/tesoro/#{sigmar}.png"%>
					<img style="vertical-align:middle" src=<%=img_path%> alt=<%= sigmar %>, id='icon2' /></h1>
				<td><%= resultado %></td>
				<td><%= erb :"reglamento/tesoro/#{total}", :locals => { 
					:dado1 => dado1 , :dado2 => dado2, :sigmar => sigmar, :resultado => resultado } %>
				</td>
				<td><% case total
						when 10 then %>
							<% img_path  = "'../images/tesoro/trampas/#{resultado.gsub('trampa de ','')}.png'"%>
							<img style="vertical-align:middle" 
								 src=<%= img_path %> alt='trampa', id='icon2' />	
		 			<%	when 11 then %>
							<% engarce = resultado.split(':') %>
		 					<% img_path  = "../images/treasures/#{engarce.first + 's'}/#{engarce[1].strip}.png"%>
		 					<img style="vertical-align:middle" 
		 						 src='<%= img_path %>' alt=<%= engarce[0] %>, id='icon2' />	
		 			<%	when 12 then %>
						<% case resultado 
							when 'artefacto' then %>	
								<% a = ['armadura de borin', 'talisman', 'espada tumularia'] %>
								<%= a[rand(0..a.size)]%>
							<% when 'objeto' then %>
								<%= resultado %>
							<% else %>
								Aún sin implementar 
						<% end %>
					<% end %>
				</td>
			</tr>
		</tbody>
	</table>
</section>