<table id='tresp'>
	<thead>
		<th colspan='2'>Hechizo</th>
		<th>Descripción</th>
	</thead>
	<tbody>
		<% elficas.each do |e| %>
			<tr style=<%= e.color %>>				
				<td><img src=<%= e.img_path %> alt=<%= e.name %>, id='icon' /></td>
				<td><%= e.name.capitalize %></td>
				<td><%= e.efecto %></td>
			</tr>
		<% end %>
	</tbody>
</table>