<!DOCTYPE HTML>

<html>
	<head><%= erb :head, :locals => {:title => "Herosheet: Escuelas mágicas"} %></head>
	<body class="subpage">
		<div id="header-wrapper">
			<%= erb :header, :locals => { :title => "Escuelas mágicas" } %>
		</div>
		<div id="content-wrapper">
			<div id="content">
				<div class="container">
					<div class="row">
						<% escuelas.keys.each do |escuela| %>
							<div class="3u">
								<section>
									<header><h2><%= escuela.capitalize %></h2></header>
									<a href=<%= '/escuelas' %> class='city-image'>
										<% img_path = "'../images/schools/#{escuela}.png'" %>
										<img src=<%=img_path%> alt='Escuela'/>
									</a>
									<ul class="link-list">
										<% 4.times do |nivel| %>
											<li><a href='<%= "/escuela/#{escuela}/#{nivel+1}" %>'>Nivel <%= nivel+1 %></a></li>
										<% end %>
									</ul>
								</section>
							</div>
						<% end %>
					</div>
				</div>
			</div>
		</div>
		<%= erb :'footer/footer' %>	
	</body>
</html>