<% hero = hero(params[:param].to_i) %>
<header>
	<h2>Hechizos de <%= hero.name %></h2>
</header>
<% unless hero.elementos.empty? %>
	<table id='tresp'>
		<thead>
			<th>Nivel</th>
			<th>Elemento</th>
			<th colspan=2>Hechizo</th>
			<th>Descripción</th>
		</thead>
		<tbody>
			<% leyes.each do |ley| %>
				<% if h = hero.send(ley[:nombre]) %>
					<% h.each do |magia|%>	
						<% m = send(ley[:method], magia) %>
						<tr style=<%= m.color %>>	
							<td><%= m.nivel %></td>	
							<td><%= m.elemento.capitalize %></td>
							<td><%= erb :'display/spell', locals: {spell: m} %></td>		
							<td><%= m.name.capitalize %></td>
							<td><%= m.efecto %></td>
						</tr>
					<% end %>
				<% end %>
			<% end %>
		</tbody>
	</table>
<% else %>
	<h3><%= hero.name %> no conoce ningun hechizo.</h3>
<% end %>