<link rel="stylesheet" href="css/bravo.css" />
<% 2.times do |i| %>
	<section>
		<header>
			<h2><%= i+1 %>º Certamen de historias HeroQuest</h2>
		</header>
		<table id='tresp'>
			<thead>
				<tr>
					<th>Autor</th>
					<th>Héroe</th>
					<th>Historia</th>
				</tr>
			</thead>
			<tbody>
				<% narrados(i+1).each do |n| %>
				<tr>
					<td><%= n.jugador %></td>
					<td><%= erb :'display/portrait', :locals => { :h => n } %></td>
					<td class='wrapper'>
						<a href='/historias/<%= n.id %>'><%= n.name %></a>
					    <% if n.premio %>
							<% color = n.premio == 1 ? "golden" : "silvered" %>
							<div class="ribbon-wrapper-<%= color %>"><div class="ribbon-<%= color %>"><%= n.premio %>º</div>
						<% end %>
					</td>
				</tr>
				<% end %>
			</tbody>
		</table>
	</section>
<% end %>