<% hero = hero(params[:param].to_i) %>
<header>
	<h2>Contadores de <%= hero.name %></h2>
</header>
<% if hero.habilidades %>
	<h3>Contadores de habilidades</h3>
	<table>
		<thead>
			<th>Contadores</th>
			<th>Icono</th>
			<th>Nombre</th>
			<th>Descripción</th>
		</thead>
		<tbody>
			<% habs_unicas = hero.habilidades.select { |h| h.type == 'única' } %>
			<% habs_unicas.uniq.each do |hab|%>	
				<tr>	
					<td><%= hero.habilidades.count { |ha| ha.type == 'única'} %></td>
					<td><%= hab.name %></td>
					<td><%= hab.description %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
<% else %>
	<p><%= hero.name %> no necesita ningún contador de habilidades.</p>
<% end %>

<h3>Contadores de objetos</h3>
<table>
	<thead>
		<th>Contadores</th>
		<th>Item</th>
		<th>Nombre</th>
		<th>Descripción</th>
	</thead>
	<tbody>
			<tr>
				<td>#</td>
				<td>X</td>
				<td>Sin implementar</td>
				<td>Sin implementar</td>
			</tr>
	</tbody>
</table>