<!DOCTYPE HTML>

<html>
	<head>
		<%= erb :head, :locals => {:title => "HeroSheet: Ficha de #{@heroe.name}" } %>
	</head>
	<body class="subpage">
		<div id="header-wrapper">
			<%= erb :header, :locals => { :title => @heroe.name } %>
		</div>
		<div id="content-wrapper">
			<div id="content">
				<div class="container">
					<div class="row">
						<div class="3u">
							<%= erb :'ficha/izquierda/izquierda' %>
						</div>
						<div class="6u important(collapse)">							
							<%= erb :"ficha/centro/main", :locals => { :heroe => @heroe } %>
						</div>
						<div class="3u">
							<%= erb :'ficha/derecha/derecha' %>
						</div>
					</div>
					<div class="row">
						<% 3.times do |i| %>
							<div class="4u">
								<%= erb :"ficha/inventario/columna#{i+1}", :locals => { :heroe => @heroe } %>	
							</div>
						<% end %>
					</div>
					<div class="row">
						<div class="3u"><%= erb :'ficha/abalorios'  %></div>
						<div class="3u"><%= erb :'ficha/piezas'     %></div>
						<div class="3u"><%= erb :'ficha/materiales' %></div>
						<div class="3u"><%= erb :'ficha/pociones'   %></div>
					</div>
					<%if @heroe.tesoro %>
					<div class="row">
						<div class="12u">
							<%= erb :'ficha/tesoros' %>
						</div>
					</div>
					<% end %>				
					<div class="row">
						<div class="12u">
							<%= erb :'ficha/habilidades', :locals => { :heroe => @heroe } if @heroe.skills %>	
						</div>
					</div>
				</div>
			</div>
		</div>
		<%= erb :'footer/footer' %>	
	</body>
</html>