<% h = hero(params[:param].to_i) %>
<div class="row">
	<% 3.times do |i| %>
		<div class="4u">
			<%= erb :"ficha/inventario/columna#{i+1}", locals: { heroe: h } %>	
		</div>
	<% end %>
</div>
<div class="row">
  <div class="4u"><%= erb :'ficha/abalorios'  %></div>
  <div class="4u"><%= erb :'ficha/piezas'     %></div>
  <div class="4u"><%= erb :'ficha/materiales' %></div>
</div>
<div class="row">
  <div class="6u"><%= erb :'ficha/pociones'   %></div>
  <div class="6u"><%= erb :'ficha/pergaminos' %></div>
</div>	
<%if h.tesoro %>
	<div class="row">
		<div class="12u"><%= erb :'ficha/tesoros' %></div>
	</div>
<% end %>
<div class="row">
	<div class="12u"><%= erb :'ficha/habilidades', locals: { heroe: h } %></div>
</div>
<%if h.master %>
	<div class="row">
		<div class="12u"><%= erb :'ficha/master', locals: { heroe: h } %></div>
	</div>
<% end %>