<table>
	<thead>
		<tr>
			<th colspan='2'>Abalorio</th>
			<th>Tamaño</th>
			<th>Uso</th>
		</tr>	
	</thead>
	<tbody>
		<% abalorios.each do |ab| %>
		    <% a = Abalorio.new(ab) %>
			<tr>
				<td><img src=<%= a.img_path%> alt=<%= a.name %>, id='icon' /></td>
				<td><%= a.name %></td>
				<td><%= a.size %></td>
				<td><%= a.efecto %></td>
			</tr>
		<% end %>
	</tbody>
</table>