<h3>Tabla de Armaduras</h3>
<table>
	<thead>
		<tr>
			<th colspan=2>Armadura</th>
			<th>Categoría</th>
			<th>Defensa</th>
			<th>Precio</th>
		</tr>
	</thead>
	<tbody>
		<% armaduras.map{ |arm| Armadura.new(arm) }.each do |a| %>
			<tr>
				<td><%= erb :'display/armadura', locals: { a: a } %></td>
				<td><%= a.name %></td>
				<td><%= a.categoria %></td>
				<td><%= a.defensa %></td>
				<td><%= a.precio %></td>
			</tr>	
		<% end %>
	</tbody>
</table>
<br/>
<h3>Reglas de las armaduras</h3>
<p>
	Las armaduras son vestimentas militares que cubren el torso del héroe.
	No todos los héroes pueden llevar todas las armaduras del juego. Por ejemplo,
	el Mago solamente puede llevar armadura de tela, como la túnica.
</p>
<p>
	La armadura es la pieza clave del equipo de un héroe. Al contrario que las protecciones,
	es la que determina el número de dados con los que defiende un héroe. El máximo de dados
	que aporta la armadura más resistente es 4.
</p>
<h3>Los Enanos y las Armaduras</h3>
<p>
	<a href='/raza/enanos' target='_blank'>Los Enanos</a> son criaturas tenaces que visten armaduras como prendas habituales.
	Se sienten cómodos con ellas, las consideran elegantes y estéticamente agradables. Es por ello que ellos,
	son la única raza de héroes que ignora cualquier penalizador por armadura.
</p>
<p>
	El legendario forjador de armaduras, <a href='/pnj/borin' target='_blank'>Borin</a>, 
	confeccionó la más valiosa composición de piezas jamás creada:
	"La Armadura de Borin", tan resistente como una armadura de placas y tan ligera como un pijama élfico.
</p>