<table id='tresp'>
	<thead>
		<tr>
			<th colspan=2>Arma</th>
			<th>Categoría</th>
			<th>Ataque</th>
			<th>Diagonal</th>
			<th>Ranuras</th>
			<th>Precio</th>
		</tr>	
	</thead>
	<tbody>
		<% armas.each do |item| %>
			<% a = Arma.new(item) %>
			<tr>
				<td><%= erb :'display/arma', :locals => { :a => a} %></td>
				<td><%= a.name %></td>
				<td><%= a.categoria %></td>
				<td><%= a.ataque %></td>
				<td><%= a.diagonal %></td>
				<td><%= a.ranuras %></td>
				<td><%= a.precio %></td>
			</tr>
		<% end %>
	</tbody>
</table>