<table>
	<thead>
		<th colspan='2'>Poción</th>
		<th>Precio</th>
		<th>Descripción</th>
	</thead>
	<tbody>
		<% pociones.each do |pocion| %>
		<% p = Pocion.new(pocion) %>	
			<tr>
				<td><img src=<%= p.img_path%> alt=<%=p.name%>, id='icon' /></td>
				<td>Poción de <%= p.name %></td>
				<td><%= p.precio %></td>
				<td><%= p.efecto %></td>
			</tr>
		<% end %>
	</tbody>
</table>