<header><h2>Lista de runas básicas</h2></header>
<p>
	<table>
		<thead>
			<tr>
				<th colspan='2'>Runa</th>
				<th>Disponibles</th>
			</tr>	
		</thead>
		<tbody>
			<% runas.each do |r| %>
				<tr>
					<td><a target="_blank" href="/runa/<%= r.id %>">
							<%= erb :'display/runa', locals: { runa: r } %>
						</a>
					</td>
					<td><a target="_blank" href="/runa/<%= r.id %>"><%= r.name.upcase %></a></td>
					<td><%= erb :'display/bazar', locals: { bazar: r.disponibles, engarce: 'runas', item_id: r.id } %>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>
</p>