<% f = familiar params[:param] %>
<table>
	<thead>
		<tr>
			<th>Icono</th>
			<th>Dueños</th>
			<th>Aumento (sabio)<th>
		</tr>	
	</thead>
	<tbody>
		<tbody>
				<tr>
					<td>
						<img src='<%= f.img_path %>',
								 alt='<%= f.bicho %>',
								 id='icon2' />
					</td>
					<td>
						<table>
							<tbody>
								<tr><% f.personajes.each do |pj| %>
									<td>
										<a href='/personaje/<%= pj %>'>
											<img src="../images/personajes/<%= pj %>.png",
													 alt=<%= pj %>,
													 id='icon' />
										</a>
									</td>
								<% end %>
								</tr>
							</tbody>
						</table
					</td>
					<td><%= f.aumento %></td>
				</tr>
		</tbody>
	</tbody>
</table>