<header>
	<h2>Ciudades</h2>
</header>
<a href=<%= '/mapa' %> class='feature-image'>
	<img src='/images/nav/mapeando.png' alt='mapeando'/>
</a>
<ul class="link-list">
	<% cities.each do |c| %>
		<li>
			<a href='/city/<%= c['name'] %>'><%= c['name'] %></a>(<%= c['master'] %>) 
			<% unless c['name'] == 'Jadessvärd' %>
				: <a href='/extranjeros/<%= c['name'] %>'>ver héroes</a>
			<% end %>
		</li>
	<% end %>
</ul>