<table>
	<thead>
		<tr>
			<th width='16%'>Melee</th>
			<th width='16%'>Rango</th>
			<th width='16'>Defensa</th>
			<th width='16%'>Cuerpo</th>
			<th width='16%'>Mente</th>
			<th width='16%'>Mov.</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><%= @heroe.ataque %></td>
			<td><%= @heroe.rango %></td>
			<td><%= @heroe.defensa %></td>
			<td><%= @heroe.cuerpo %></td>
			<td><%= @heroe.mente  %></td>
			<td><%= @heroe.movimiento %></td>
		</tr>
	</tbody>
</table>