<% h = hero(params[:param].to_i) %>
<table>
	<thead>
		<tr>
			<th>Ciudad</th>			
			<% if h.pareja %>
				<th>Pareja</th>
			<% end %>
			<% if h.progenitores %>
				<th>Progenitores</th>
			<% end %>
			<% if h.pet %>
				<th>Familiar</th>
			<% end %>
			<% if h.transportes %>			
				<th>Montura</th>
			<% end %>
			<% if h.historia %>
				<th>Historia</th>
			<% end %>
			<% if h.camino %>
				<th><a href='/caminos'>Camino</a></th>
			<% end %>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><a href='/city/<%= h.empadronado %>'>
					<%= h.empadronado %>
				</a>
			</td>
			<% if h.pareja %>
				<td><%= erb :'ficha/pareja' %></td>
			<% end %>
			<% if h.progenitores %>
				<td><%= erb :'ficha/progenitores' %></td>
			<% end %>
			<% if p = h.pet %>
				<td><%= erb :'display/display', locals: { 
						title:       p.nombre, 
						path:        p.img_path,
						description: p.descripcion } %>
				</td>
			<% end %>
			<% if m = h.transportes %>
				<td><%= erb :'display/display', locals: { 
						title:       m.first.name, 
						path:        m.first.img_path,
						description: m.first.bono } %>
				</td>
			<% end %>
			<% if h.historia %>
				<td>
					<a href=<%= "/historia/#{h.id}" %>>
						<img src="../images/ficha/historia.png" alt="historia" /, id='icon'>
					</a>
				</td>
			<% end %>
			<% if h.camino %>
				<td><%= erb :'display/display', locals: { 
						title:       'Camino: ' + h.camino.first, 
						path:        "../images/caminos/#{h.camino.first.gsub(' ','%20')}.png",
						description: camino(h.camino.first).last[ h.camino.last - 1] } %>
				</td>
			<% end %>
		</tr>
	</tbody>
</table>