<table id='tresp'>
	<thead>
		<tr>
			<th colspan='2'>Camino</th>
			<th>En curso</td>
			<% 7.times do |i| %>
				<th><%= i+1 %></th>
			<% end %>
		</tr>
	</thead>
	<tbody>
		<% caminos.keys.each_with_index do |camino,i| %>
			<tr>
				<td><img src='images/caminos/<%=camino%>.png' alt='<%= camino %>', id='icon' /></td>
				<td><%= camino %></td>
				<td><%= 0 %></td>
				<% camino(camino).each do |paso| %>
					<td><%= erb :'display/camino', :locals => { 
							  :camino => camino,
							  :paso   => paso
							} %>
					</td>
				<% end %>
			</tr>
		<% end %>
	</tbody>
</table>