<table id='tresp'>
	<thead>
		<tr>
			<th colspan='2'>Camino</th>
			<th>En curso</td>
			<% 7.times do |i| %>
				<th><%= i+1 %></th>
			<% end %>
		</tr>
	</thead>
	<tbody>
		<% caminos.each do |c| %>
			<tr>
				<td><img src='images/caminos/<%= c.first %>.png' alt='<%= c.first %>', id='icon' /></td>
				<td><%= c.first %></td>
				<td><%= 'Hero: not implemented' %></td>
				<% c.last.each do |paso| %>
					<td><%= erb :'display/camino', :locals => { camino: c, paso: paso} %></td>
				<% end %>
			</tr>
		<% end %>
	</tbody>
</table>