<p>
	El familiar es una pequeña mascota espiritual que acompaña al héroe en sus aventuras.
	No todos los familiares pueden ser escogidos por los personajes. Los hay torpes y hábiles.
	Cuestan 1px y se pueden mejorar invirtiendo 1px adicional para eliminar el penalizador.
</p>
<table id='tresp'>
	<thead>
		<tr>
			<th>Icono</th>
			<th>Nombre</th>
			<th>Dueños</th>
			<th>Bonificador</th>
			<th>Penalizador</th>
			<th>Conocidos</th>
		</tr>	
	</thead>
	<tbody>
		<% pets.each do |familiar| %>
		<% p = Pet.new(familiar) %>
			<tr>
				<td><img src=<%= p.img_path %> alt=<%= p.bicho %>, id='icon2' /></td>
				<td><%= p.bicho %></td>
				<td>
					<table id='table-2'>
 						<tbody>
							<tr><% p.personajes.each do |pj| %>
								<td><img src=../images/personajes/<%= pj %>.png alt=<%= pj %> /, id='icon'>
								</td>
							<% end %>
							</tr>
						</tbody>
					</table
				</td>
				<td><%= p.bono %></td>
				<td><%= p.lacra %></td>
				<td><%= erb :'display/bazarfamiliares', locals: { 
							bazar:    p.conocidos, 
							item_id:  p.id } %>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>