<table>
	<thead>
		<tr>
			<th colspan=2>Profesión</th>
			<th>Hándicap</th>
			<th>Justificación</th>
		</tr>
	</thead>
	<tbody>
		<% profesions.each do |p| %>
			<tr>
				<td><a href=<%="/profesion/#{p.name}"%>>
					<img src=<%= p.img_path %> alt='<%= p.name %>' id='icon2' />
				</a></td>
				<td>
					<a href=<%="/profesion/#{p.name}"%>><%= p.name %></a>
				</td>
				<td>
					<a href='/personaje/<%= p.imped %>'>
						<img src='images/personajes/<%= p.imped %>.png'
							alt="<%= p.imped %>" id='icon2' />
					</a>
				</td>
				<td><%= p.why %></td>
			</tr>
		<% end %>
	</tbody>
</table>