<header>
	<h2>Pregunta Nº <%= params[:param].length %> / <%= preguntas.count %></h2>
	<h3><%= preguntas[params[:param].length-1]['pregunta'] %></h3>
</header>
<ul class="link-list">
	<% preguntas[params[:param].length-1]['respuestas'].each_with_index do |respuesta,num| %>
		<li><%= num %>) <a href=/test/<%= params[:param] + num.to_s %>><%= respuesta.first %></a></li>
	<% end %>
</ul>