<section>
	<header>
		<h2>Pregunta Nº <%= @num_pregunta %> / <%= preguntas.count %></h2>
		<h3><%= preguntas[@num_pregunta-1][:pregunta] %></h3>
	</header>
	<ul class="link-list">
		<% preguntas[@num_pregunta-1][:respuestas].each_with_index do |respuesta,num| %>
			<li><%= num %>) <a href=/test/<%= @respuestas + num.to_s %>><%= respuesta.first %></a></li>
		<% end %>
	</ul>
</section>