<!DOCTYPE HTML>
<html>
	<head>
		<%= erb :head, :locals => {:title => "HeroSheet: Test"} %>
		
	</head>
	<body class="subpage">
		<div id="header-wrapper">
			<%= erb :header, :locals => { :title => "Test" } %>
		</div>
			<div id="content-wrapper">
				<div id="content">
					<div class="container">
						<div class="row">
							<div class="3u">
								<%= erb :'reglamento/izquierda/bestiario' %>
							</div>
							<div class="6u important(collapse)">
								<section>
									<% if @num_pregunta <= preguntas.count %>
										<%= erb :'test/question'%>
									<% elsif  @num_pregunta > preguntas.count %>
										<%= erb :'test/solution' %>
									<% end %>
								</section>
							</div>
							<div class="3u">
								<%= erb :'reglamento/derecha/combate' %>
							</div>
						</div>
					</div>
				</div>
			</div>
		<%= erb :'footer/footer' %>	
	</body>
</html>