<tr>
	<td><%= index + 1 %></td>
	<td><%= erb :'display/portrait', locals: { h: hero } %></td>
	<td><a href='/hero/<%= hero.id %>'><%= hero.name %></a><br>
		<% if ciudad?(hero.jugador).empty? %>
			<i><%= hero.jugador %></i>
		<% else %>
			<a href='/city/<%= ciudad?(hero.jugador).first["name"] %>'><i><%= hero.jugador %></i></a>
		<% end %>
	</td>
	<td><%= hero.genderize.capitalize%><br>
		<i><a href="/habilidad/<%= hero.personaje.gsub("señor de las bestias","beastslord") %>">
			<%= hero.personaje.capitalize %>
		</a></i>
	</td>
	<td><%= hero.nivel %></td>
	<td><% if p = hero.pet %><%= erb :'display/display', locals: { 
			title:       p.nombre , 
			path:        p.img_path,
			description: p.descripcion } %>
		<% end %>
	</td>
	<td>
		<%= erb :'ficha/profesion', locals: { prof: hero.gremio } if hero.profesion %>
	</td>
	<td><table>
			<tr><% hero.weapons.each do |weapon| %>
				<td><%= erb :'display/item', locals: {item: weapon } %></td>
			<% end %></tr>
		</table>
	</td>
	<td><%= erb :'display/armadura', locals: { a: hero.armour } %></td>
	<% if hero.reputacion > 0 %>
		<td style="background-image:url(../images/ficha/star.png); 
			background-repeat: no-repeat; background-position:center;">
			<%= hero.reputacion %>
		</td>
	<% else %>
		<td></td>
	<% end %>
</tr>