<% bg =  item.tier? ? item.tier?['color'] : '#525252' %>
<table id='tier'>
	<tr>
		<th style="background-color: <%= bg %>;">
			<% if item.tier? %>
				<h3>Tier de <%= item.tier?['name'] %></h3>
				<p>Efecto: <i><%= item.tier?['bono'] %></i></p>
			<% else %>
				<h3>Engarces</h3>
			<% end %>
			<%= erb :'display/item/gemas', locals: {item: item} if item.gemas %>
			<%= erb :'display/item/joyas', locals: {item: item} if item.joyas %>
			<%= erb :'display/item/runas', locals: {item: item} if item.runas %>
			<br/>
			<% item.ranuras_libres.times do %>
				<%= erb :'display/ranura' %>
			<% end %>
		</th>
	</tr>
</table>