<!DOCTYPE HTML>
<html>
	<head><%= erb :head, :locals => {:title => "HeroSheet"} %></head>
	<body class="subpage">
		<div id="header-wrapper">
			<%= erb :header, :locals => { :title => "La Torre de Magia" } %>
		</div>
			<div id="content-wrapper">
				<div id="content">
					<div class="container">
						<div class="row">
							<div class="3u">
								<%= erb :'torre/izquierda/elementales' %>
								<%= erb :'torre/izquierda/sagradas' %>
								<%= erb :'torre/izquierda/especializaciones' %>
							</div>
							<div class="6u important(collapse)">
								<%= erb :'torre/centro/main' %>
							</div>
							<div class="3u">
								<%= erb :'torre/derecha/tipos' %>
							</div>
						</div>
					</div>
				</div>
			</div>
		<%= erb :'footer/footer' %>	
	</body>
</html>