<section>
	<header>
		<h2><center>El <%= @heroe.clase %> <%= @heroe.personaje %></center></h2>
	</header>
	<a href=<%= "/habilidades/#{@heroe.personaje }" %> class="feature-image">
		<img src="../images/clases/<%= @heroe.personaje %>.png" alt=<%= @heroe.personaje %> /, id='box'>
	</a>
</section>