<% h = hero(params[:param].to_i) %>
<header>
	<h2><center>El <%= h.clase %> <%= h.personaje %></center></h2>
</header>
<a href=<%= "/habilidad/#{h.personaje.gsub('señor de las bestias','beastslord') }" %> class="feature-image">
	<img src='/images/clases/<%= h.personaje %>.png' alt=<%= h.personaje %> /, id='box'>
</a>
<%= erb :'ficha/hechizos' unless h.elementos.empty? %>